{% extends 'base.html.twig' %}




{% block body %}



   

  

  <div class="container-md">



        <div class="articleshow row">
        <div class="col-12">
            <div class="allarticle">
               Gaming
            </div>

         </div>   
            <br>
               {% for article in articles  %}

              {% if article.category.title == 'Gaming' %}
  
    
            <div class="col-3 article" style="background-image: url('{{article.image}}');" onclick="location.href='{{ path('blog_show', {'id': article.id}) }}'">
            
            
                <div class="extrait">
                    <p> {% set strategy = 'html' %}

                      {% autoescape 'html' %}
                          

                          {{ article.content|length > 50 ? article.content|slice(0, 80) ~ '...' : article.content  }}
                      {% endautoescape %}</p>

                </div>

                
              
    </div>

    {% endif %}
    
{% endfor %}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
        </div>
        </div>
        
       
      
    </div>

    



  


{% endblock %}
